@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

@font-face {
    font-family: 'amsiprocond-ultrauploadedfile';
    src: url('../font/AmsiProCond-UltraItalic-webfont.eot');
    src: url('../font/AmsiProCond-UltraItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/AmsiProCond-UltraItalic-webfont.woff2') format('woff2'),
         url('../font/AmsiProCond-UltraItalic-webfont.woff') format('woff'),
         url('../font/AmsiProCond-UltraItalic-webfont.ttf') format('truetype'),
         url('../font/AmsiProCond-UltraItalic-webfont.svg#amsiprocond-ultrauploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amsipro-ultraitaluploadedfile';
    src: url('../font/AmsiPro-UltraItalic-webfont.eot');
    src: url('../font/AmsiPro-UltraItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/AmsiPro-UltraItalic-webfont.woff2') format('woff2'),
         url('../font/AmsiPro-UltraItalic-webfont.woff') format('woff'),
         url('../font/AmsiPro-UltraItalic-webfont.ttf') format('truetype'),
         url('../font/AmsiPro-UltraItalic-webfont.svg#amsipro-ultraitaluploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amsipronarw-ultrauploadedfile';
    src: url('../font/AmsiProNarw-UltraItalic-webfont.eot');
    src: url('../font/AmsiProNarw-UltraItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/AmsiProNarw-UltraItalic-webfont.woff2') format('woff2'),
         url('../font/AmsiProNarw-UltraItalic-webfont.woff') format('woff'),
         url('../font/AmsiProNarw-UltraItalic-webfont.ttf') format('truetype'),
         url('../font/AmsiProNarw-UltraItalic-webfont.svg#amsipronarw-ultrauploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==== CSS RESET ==== */
ul,li {
  list-style-type:none;
  padding:0;
  margin:0;
}
a:hover {
  text-decoration:none;
}
a:hover,a:active,a:focus,a:visited,
button:hover,button:active,button:focus,button:visited {
  outline:0;
}
textarea, textarea:active, textarea:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
html, body {
  height:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
body {
  font-family: 'Droid Sans', sans-serif;
  font-size:14px;
  margin:0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F1F1F1;
}

.box-shadow-bottom {
  -webkit-box-shadow: 0 0px 6px 0px #000000;
     -moz-box-shadow: 0 0px 6px 0px #000000;
          box-shadow: 0 0px 6px 0px #000000;
}
.content-width {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}
#page {
  background-color: #ffffff;
  /*position:relative;*/
  z-index:2;
}
.logo {
  font-family: 'amsipronarw-ultrauploadedfile';
  font-size: 24px;
  color: #384047;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 10px;
}
.logo:hover,
.logo:focus,
.logo:active,
.logo:visited {
  color: #384047;
  text-decoration: none;
}
#main {
  background-color: #F1F1F1;
  color: #666666;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}
#header {
  position: relative;
  z-index: 3;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
}
.colors-bar {
  width: 100%;
  height: 5px;
  background: #FA9300;
}
.color-bar {
  width: 2%;
  height: 5px;
  float: left;
}
.color-bar-1, .color-bar-12, .color-bar-23, .color-bar-36, .color-bar-47 { background: #fd805a; }
.color-bar-2, .color-bar-13, .color-bar-24, .color-bar-37, .color-bar-48 { background: #fed36e; }
.color-bar-3, .color-bar-14, .color-bar-25, .color-bar-38, .color-bar-49 { background: #68d387; }
.color-bar-4, .color-bar-15, .color-bar-26, .color-bar-39, .color-bar-50 { background: #498059; }
.color-bar-5, .color-bar-16, .color-bar-27, .color-bar-40 { background: #47c6e3; }
.color-bar-6, .color-bar-17, .color-bar-28, .color-bar-41 { background: #32789d; }
.color-bar-7, .color-bar-18, .color-bar-29, .color-bar-42 { background: #a185c7; }
.color-bar-8, .color-bar-19, .color-bar-30, .color-bar-43 { background: #6b5982; }
.color-bar-9, .color-bar-20, .color-bar-31, .color-bar-44 { background: #ff8fb4; }
.color-bar-10, .color-bar-21, .color-bar-32, .color-bar-45 { background: #eb595c; }
.color-bar-11, .color-bar-22, .color-bar-33, .color-bar-46 { background: #9d4f50; }

#examples-bar {
  background-color: #ffffff;
  height: 200px;
  padding-top: 25px;
}
#examples-wrap {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#examples {
  border: 6px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px #aaaaaa;
     -moz-box-shadow: 0px 0px 6px #aaaaaa;
          box-shadow: 0px 0px 6px #aaaaaa;
  margin: 0 auto;
  background: #f1f1f1 url('../img/comparison.jpg');
  position: absolute;
  top: 175px;
  left: 50%;
  width: 600px;
  height: 200px;
  margin-top: -100px; /* Half the height */
  margin-left: -300px; /* Half the width */
  -webkit-animation: slider 16s infinite alternate ease;
  -moz-animation: slider 16s infinite alternate ease;
}

@-webkit-keyframes slider {
  0% {background-position:0px 0px}
  14% {background-position:0px 0px}
  28% {background-position:0px -200px}
  42% {background-position:0px -200px}
  56% {background-position:0px -400px}
  70% {background-position:0px -400px}
  84% {background-position:0px -600px}
  100% {background-position:0px -600px}
}

@-moz-keyframes slider {
  0% {background-position:0px 0px}
  14% {background-position:0px 0px}
  28% {background-position:0px -200px}
  42% {background-position:0px -200px}
  56% {background-position:0px -400px}
  70% {background-position:0px -400px}
  84% {background-position:0px -600px}
  100% {background-position:0px -600px}
}
.dragover #examples {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#examples-wrap h2 {
  text-align: center;
  font-size: 28px;
  color: #7a7a7a;
  padding: 15px 0;
  margin: 0 auto;
  letter-spacing: -0.5px;
}
.picture-icon i {
  font-size: 10em;
  color: #e1e1e1;
}
#main-inner {
  padding-top: 170px;
}
.drop-zone {
  text-align: center; 
  display: inline-block;
  width: 600px;
  height: 300px;
  position: relative;
  z-index: 10;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.drop-zone-inner {
  border-radius: 20px;
  border: 3px dashed #92c100;
  padding: 50px;
  text-align: center; 
  display: inline-block;
  width: 600px;
  height: 300px;
  position: relative;
  z-index: 4;

  -o-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.drop-zone-inner span {
  font-size: 16px;
  color: #c1c1c1;
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}
.dragover .drop-zone-inner {
  border: 3px solid #92c100;
  background-color: #92c100;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  -webkit-animation: pulse linear 1s infinite;
  animation: pulse linear 1s infinite;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dragover .drop-zone-inner * {
  color: #ffffff !important;
  text-shadow: none !important;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@-webkit-keyframes pulse {
  0% { width:300px; height:300px; } 
  50% { width:320px; height:320px;} 
  100% { width:300px; height:300px;}
}
@keyframes pulse {
  0% { width:300px; height:300px;} 
  50% { width:320px; height:320px;} 
  100% { width:300px; height:300px;}
}
.dimmer {
  background-color: #FFFFFF;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.dragover .dimmer {
  opacity: 0.9;
  z-index: 3;
}
.login-buttons {
  position: relative;
  z-index: 10;
}